<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <h1>Edit: <%= @recipe.name.titleize %></h1>

    <form action="/recipes/<%=@recipe.id%>" method="POST">
      <input type="hidden" name="_method" value="PATCH">

      <label for="name">Name</label><br>
      <input type="text" name="recipe_name" id="recipe_name" value="<%= @recipe.name %>">
      <br></br>

      <label for="ingredients">Ingredients</label><br>
      <input type="text" name="ingredients" value="<%= @recipe.ingredients %>" id="ingredients">
      <br></br>

      <label for="instructions">Instructions</label><br>
      <input type="text" name="instructions" value="<%= @recipe.instructions %>" id="instructions">
      <br></br>

      <label>Edit Category</label>
      <p>Select an existing category:</p>
      <% Category.all.each do |category| %>
        <input type="radio" name="category" value="<%= category.id %>" <%='checked' if @recipe.category == category %>>
        <label><%= category.name %></label><br>
      <% end %>

      <p>Or create a new category (Note: Any entry here will override the category selection above):</p>
      <input type="text" name="new_category">
      <br></br>

      <input type="submit" value="Save Edits">
    </form>
  </body>
</html>
